<h1>Friends List</h1>
<br>
<div id="friends">
  <% @friends.each do |friend| %>
    <% if friend.user == current_user %>
      <%= render friend %>
      <p>
        <%= link_to "Show", friend, class:'btn btn-info'
 %>
      </p>
    <% end %>
    <hr>
  <% end %>
</div>
<%= link_to "New friend", new_friend_path, class:'btn btn-success' %>
